{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components",
    "react-imported-component/babel",
    // "@babel/plugin-proposal-optional-chaining",
  ],
  "env": {
    "server": {
      "plugins": ["@babel/plugin-syntax-dynamic-import"]
    },
    "client": {
      "plugins": [
        ["import", {
          "libraryName": "antd",
          "libraryDirectory": "es",
          "style": true
        }]
      ]
    }
  }
}
